.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 541px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 58px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 431px;
  background-image: url("images/Foto_Profilo_2.jpg");
  background-position: 50% 42.85%;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 11px 9px 8px 0px rgba(128,128,128,1);
  padding: 13px 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-2 .u-image-1 {
    min-height: 355px;
    --border-color-var: #ffb413;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 272px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 408px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-2 .u-image-1 {
    min-height: 257px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/whatdoIdo.png');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 826px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1101px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 1033px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-4 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 1033px;
  filter: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-video-1 {
  filter: none;
  height: 265px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-video-poster-1 {
  background-image: url("images/hqdefault.jpg");
}

.u-section-4 .u-gallery-1 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-4 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 122px;
  padding: 4px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  top: 122px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 852px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 852px;
  }

  .u-section-4 .u-video-1 {
    inset: auto;
  }

  .u-section-4 .embed-responsive-1 {
    height: 100%;
    width: 322%;
    left: -111%;
    top: 0%;
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 50px;
    height: 50px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 50px;
    height: 50px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 50px;
    height: 50px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 50px;
    height: 50px;
  }

  .u-section-4 .u-carousel-thumbnail-5 {
    width: 50px;
    height: 50px;
  }

  .u-section-4 .u-carousel-thumbnail-6 {
    width: 50px;
    height: 50px;
  }

  .u-section-4 .u-carousel-thumbnail-7 {
    width: 50px;
    height: 50px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 73px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-carousel-thumbnail-1 {
    width: 34px;
    height: 34px;
  }

  .u-section-4 .u-carousel-thumbnail-2 {
    width: 34px;
    height: 34px;
  }

  .u-section-4 .u-carousel-thumbnail-3 {
    width: 34px;
    height: 34px;
  }

  .u-section-4 .u-carousel-thumbnail-4 {
    width: 34px;
    height: 34px;
  }

  .u-section-4 .u-carousel-thumbnail-5 {
    width: 34px;
    height: 34px;
  }

  .u-section-4 .u-carousel-thumbnail-6 {
    width: 34px;
    height: 34px;
  }

  .u-section-4 .u-carousel-thumbnail-7 {
    width: 34px;
    height: 34px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 3px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
  position: relative;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 750px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-video-1 {
  height: 287px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-layout-wrap-2 {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 702px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-12 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-layout-wrap-3 {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 788px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-13 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-14 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-17 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-wrap-4 {
  margin-top: 20px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-text-18 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-19 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-20 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-text-21 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-text-22 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-8 {
  min-height: 673px;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px 29px;
}

.u-section-5 .u-video-2 {
  width: 511px;
  height: 287px;
  margin: 0 auto;
}

.u-section-5 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 618px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 579px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 650px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 555px;
  }

  .u-section-5 .u-video-2 {
    width: 412px;
    height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 253px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 253px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 425px;
  }

  .u-section-5 .u-video-2 {
    width: 302px;
    height: 170px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 710px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 380px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 638px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 239px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 239px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 402px;
  }
}